* {
  box-sizing: border-box;
  
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to top, rgb(193, 223, 196) 0%, rgb(222, 236, 221) 100%);
  margin: 0;
}

.title {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  text-shadow: 1px 1px 1px black;
  border: 1px solid orange;
  padding: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 50px;
  display: flex;
  align-items: center;
}

.logo-image {
  background-color: orange;
  border: 1px solid orange;
  padding: 2px;
  height: 50px;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header {
  background-image: linear-gradient(to bottom, rgb(60, 186, 146) 0%, rgb(40, 114, 51) 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  width: 100%;
  border-top: none;
  background-color: beige;
  padding: 50px 0 50px 0;
  box-shadow: 0px 5px 15px -5px black;
  
}


.banner-image {
  width: 100%;
}

.banner-title {
  width: 650px;
  position: absolute;
  font-size: 42px;
  text-shadow: 1px 1px 1px black;
  color: brown;
  background-color: beige;
  text-align: center;
  bottom: 0px;
  padding: 15px;
}



.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 50px 0;
  background: rgba(40, 114, 51, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.search-recipe {
  width: 40%;
  border: 3px solid brown;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(157, 191, 175);
  box-shadow: 0px 5px 15px -5px black;
}

.search-recipe:focus {
  color: brown;
  font-family: 'Lato', sans-serif;
}

.search-recipe::placeholder {
  font-family: 'Lato', sans-serif;
  
}
.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid brown;
  background: brown;
  align-items: center;
  display: flex;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-icon {
  width: 25px;
}

.grid-recipe {
  display: grid;
  gap: 50px; 
  margin-top: 100px;
  background-color: white;
  padding-bottom: 100px;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.card-recipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.description-container {
  display: flex;
  max-width: 100%;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgb(226, 226, 226) 1px solid;
}

.recipe-name {
  color: brown;
  text-align: center;
  
}


.recipe-image {
  width: 300px;
}

.button-recipe {
  background-color: brown;
  border: none;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 15px;
  text-shadow: 1px 1px 0 black;
  cursor: pointer;
  
  
}


.recipe-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: brown;
  background-color: white;
  margin-top: 100px;

}


.recipe-details li::before {
  content: "";
  display: inline-block;
  width: 30px; 
  height: 30px; 
  margin-right: 5px; 
  vertical-align: middle; 
  background: url('./images/ingredients.png') no-repeat;
  background-size: contain; 
}

ul li {
  list-style-type: none;
  margin-top: 10px;
}


.preparation-container {
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.preparation-container > img {
  width: 40px;
  height: 40px;
  margin-right: 5px;

}



.ingredients-title,
.detail-title {
  color: orange;
  margin-left: 10px;
  
}

.recipe-details-image {
  width: 500px;
  
 
}

.search-results {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f2f2f2; 
  border-radius: 5px;
}

.footer {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 10px solid rgb(40, 114, 51);
}

.s2i-logo {
  width: 200px;
  object-fit: contain;

}

.mark {
 margin-left: 20px;
 color: black;


}

.footer-logo-container {
  display: flex;
}